body {
    margin: auto;
}

.card {
    border: none;
    padding: 30px;
    border-radius: 20px;
    margin: 16px 0;
  box-shadow: 5px 3px 20px 4px rgba(0, 0, 0, 0.2);
}
html,
body {
  height: 100%;
}

.form-signin {
  max-width: 400px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

